
  .card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 30%;
    flex-direction: column;
    border: 1px solid;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}
div#card-item {
    width: 18% !important;
    margin: 5px;
}
.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.all-repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}